{
  "env": {
    "node": true,
    "es2021": true
  },
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended"
  ],
  "overrides": [],
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "quotes": ["error", "double", { "avoidEscape": true }],
    "@typescript-eslint/quotes": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-empty-function": "off",
    "operator-linebreak": "off",
    "import/no-cycle": "off",
    "comma-dangle": "off",
    "class-methods-use-this": "off",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off",
    "import/prefer-default-export": "off",
    "max-classes-per-file": "off",
    "no-constant-condition": "off"
  }
}
